.ss-main {
  font-size: 0.875rem;
  padding: 0.375rem 0.75rem !important;
  border-radius: 0.375rem !important;
  border: 1px solid #ced4da;
  background-color: #fff;
  color: #212529;
  line-height: 1.5;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
